<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>AirBnB</title>

    <link rel="stylesheet" href="../static/styles/4-common.css" />
    <link rel="stylesheet" href="../static/styles/3-header.css" />
    <link rel="stylesheet" href="../static/styles/3-footer.css" />
    <link rel="stylesheet" href="../static/styles/6-filters.css" />
    <link rel="stylesheet" href="../static/styles/8-places.css" />
    <link rel="icon" type="images/png" href="../static/images/icon.png" />
</head>

<body>
    <header class="logo">
        <div class="logo"></div>
    </header>
    <div class="container">
        <section class="filters">
            <div class="locations">
                <h3>States</h3>
                <h4>California, Arizona...</h4>
                <div class="popover">
                    <ul>
                        <li>
                            <h2>California</h2>
                            <ul>
                                <li>Tracy</li>
                                <li>Hayward</li>
                                <li>Los Angeles</li>
                            </ul>
                        </li>
                        <li>
                            <h2>Arizona</h2>
                            <ul>
                                <li>Sedona</li>
                                <li>Phoenix</li>
                                <li>Mesa</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="amenities">
                <h3>Amenities</h3>
                <h4>WIFI, kitchen...</h4>
                <ul class="popover">
                    <li>WIFI</li>
                    <li>Kitchen</li>
                    <li>Swimming pool</li>
                    <li>Bedroom</li>
                </ul>
            </div>
            <button type="button">Search</button>
        </section>



        <section class="places">
            <h1>Places</h1>
            <div class="articles">

                <article>
                    <h2>My home</h2>
                    <div class="price_by_night">
                        <p>$80</p>
                    </div>
                    <div class="information">
                        <div class="max_guest"><span>4 Guests</span></div>
                        <div class="number_rooms"><span>4 Bedrooms</span></div>
                        <div class="number_bathrooms"><span>2 Bathrooms</span></div>
                    </div>
                    <div class="user">
                        <b>Owner:</b> Sophia Terry
                    </div>
                    <div class="description">
                        <p>
                            Staying at this Airbnb was like stepping into a Hallmark movie! The house was so charming
                            and
                            cozy that I half-expected to find Santa Claus in the living room. From the moment we
                            arrived, we
                            felt like royalty. The king-sized bed was so comfy that it made me forget about my throne
                            back
                            home. And the kitchen? Let's just say Gordon Ramsay would've been jealous of my culinary
                            skills
                            after using it. The backyard was perfect for a game of hide-and-seek with my inner child.
                            Overall, this place is like a warm, fuzzy hug from a teddy bear. Can't wait to come back!
                        </p>
                        <p>Winnie 😊</p>
                        <p>Rating: ★★★★★</p>
                    </div>
                </article>

                <article>
                    <h2>Tiny house</h2>
                    <div class="price_by_night">
                        <p>$50</p>
                    </div>
                    <div class="information">
                        <div class="max_guest"><span>1 Guests</span></div>
                        <div class="number_rooms"><span>1 Bedroom</span></div>
                        <div class="number_bathrooms"><span>1 Bathroom</span></div>
                    </div>
                    <div class="user">
                        <b>Owner:</b> Bella The Cat
                    </div>
                    <div class="description">
                        <p>
                            I've always wanted to know what it's like to live in a tiny house, and this Airbnb made my
                            dreams come true! This place may be small, but it's a compact bundle of awesomeness. It's
                            like a real-life game of Tetris, fitting everything perfectly. The loft bed was my personal
                            treehouse in the sky, and the kitchenette was like cooking in a dollhouse (in a good way!).
                            My favorite part? The mini porch with a view that made me feel like a giant overlooking a
                            tiny kingdom. If you've ever wondered if you can live large in a small space, this Airbnb is
                            your answer!
                        </p>
                        <p>Lorna 🫶</p>
                        <p>Rating: ★★★★★</p>
                    </div>
                </article>

                <article>
                    <h2>A suite</h2>
                    <div class="price_by_night">
                        <p>$150</p>
                    </div>
                    <div class="information">
                        <div class="max_guest"><span>6 Guests</span></div>
                        <div class="number_rooms"><span>4 Bedroom</span></div>
                        <div class="number_bathrooms"><span>4 Bathroom</span></div>
                    </div>
                    <div class="user">
                        <b>Owner:</b> Yu Fei
                    </div>
                    <div class="description">
                        <p>
                            If I could, I'd give this suite ten stars! Staying here was like living inside a Pinterest
                            board - every corner was Instagram-worthy. From the moment I stepped in, I felt like
                            royalty. The bed was so comfortable that I questioned my own bed's commitment to my
                            happiness. The bathroom? Let's just say it was fancier than a spa day with a celebrity
                            stylist. And the view from the balcony was so stunning that it made me feel like I was in a
                            romantic movie (cue the slow-motion hair flip!). If you want a taste of the sweet life, book
                            this suite ASAP. It's where dreams come true!
                        </p>
                        <p>Jay Jay</p>
                        <p>Rating: ★★★★★</p>
                    </div>
                </article>
            </div>
        </section>

    </div>

    <footer>Best School</footer>

</body>

</html>
